@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bellerose';
    src: url('../public/static/fonts/bellerose/Bellerose.ttf');
}
@font-face {
    font-family: 'Linux ';
    src: url('../public/static/fonts/linux_libertine/LinLibertine_R.ttf');
}